<p style="color:red">{{error}}</p>

<div style="margin-top: 10px;">
    <button (click)="ngOnInit()">CLICK</button>
</div>
<div style="width:95%;height:90%;">
    <div>
        <base-chart class="chart"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColours"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></base-chart>
    </div>
</div>
