<h2>{{_configuration.applicationName}} at St Ronans</h2>
<div>
    <label>
        Station
        <select title="Station" [(ngModel)]="config.stationId">
            <option *ngFor="let station of stationData" value= {{config.stationId}}>
                {{station.name}}
            </option>
        </select>
    </label>

    <label>
        Display values for last
        <select id="displaySelect" [(ngModel)]="config.displayId" (change)="onSelectDisplay()" value= {{config.displayId}} >
            <option *ngFor="let option of options" value="{{option.id}}">
                {{option.name}}
            </option>
        </select>
    </label>

    <span>Show</span>
    <label>
        <input (click)="onSelectTemp()" type="checkbox" [(ngModel)]="config.showTemp" aria-label="Checkbox 1" value="{{config.showTemp}}"/>
        Temperature
    </label>

    <label>
        <input (click)="onSelectHumidity" type="checkbox"  [(ngModel)]="config.showHumidity" aria-label="Checkbox 2" value="{{config.showHumidity}}"/>
        Humidity
    </label>

    <label>
        <input (click)="onSelectHeatIndex()" type="checkbox"  [(ngModel)]="config.showHeatIndex" aria-label="Checkbox 3" value="{{config.showHeatIndex}}"/>
        Heat Index
    </label>

    <display-chart-component [config]="config" >Loading...</display-chart-component>
</div>
