<h2>{{_configuration.applicationName}} at St Ronans</h2>
<div>
    <input (click)="refresh()" type="button" aria-label="Refresh button" value="Refresh display"/>
    <p></p>


    <h3>All {{getSensor(0)}} sensors in the house</h3>
    <p></p>
    <table summary="This table shows the current state of all working stations in the house.">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Last result gathered</th>
            <th>Temperature &deg;</th>
            <th>Humidity %</th>
            <th>Heat Index</th>
        </tr>
        <tr display-station-component [station]="station" *ngFor="let station of filteredByType(1)"></tr>
    </table>

    <h3>All {{getSensor(1)}} sensors in the house</h3>
    <p></p>
    <table summary="This table shows the current state of all working stations in the house.">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Last result gathered</th>
            <th>Temperature &deg;</th>
            <th>Humidity %</th>
            <th>Heat Index</th>
        </tr>
        <tr display-station-component [station]="station" *ngFor="let station of filteredByType(2)"></tr>
    </table>
</div>
