/.idea
/.git
/output
/project
/target
/release
project/project
node_modules
typings
/libraries
/mysql
database/README.txt
database/SensorTypes.sql
database/old/
demotics.iml
documents/130829100803-motoman-japanese-robot-chef-horizontal-gallery.jpg
documents/Domotics.2.pdf
documents/Domotics.2.pptx
documents/IoTPresentation/
documents/Presentation/
documents/pi4j-savage-devoxx.pdf
logs/
scripts/
src/main/resources/public/app/components/DisplayChartComponent.js
src/main/resources/public/app/components/DisplayChartComponent.js.map
src/main/resources/public/app/components/DisplayStationComponent.js
src/main/resources/public/app/components/DisplayStationComponent.js.map
src/main/resources/public/app/components/OptionSelectComponent.js
src/main/resources/public/app/components/OptionSelectComponent.js.map
src/main/resources/public/app/configuration.js
src/main/resources/public/app/configuration.js.map
src/main/resources/public/app/main.js
src/main/resources/public/app/main.js.map
src/main/resources/public/app/models/DisplayOptions.js
src/main/resources/public/app/models/DisplayOptions.js.map
src/main/resources/public/app/models/Measurement.js
src/main/resources/public/app/models/Measurement.js.map
src/main/resources/public/app/models/Option.js
src/main/resources/public/app/models/Option.js.map
src/main/resources/public/app/models/SensorType.js
src/main/resources/public/app/models/SensorType.js.map
src/main/resources/public/app/models/Station.js
src/main/resources/public/app/models/Station.js.map
src/main/resources/public/app/services/heatIndex.services.js
src/main/resources/public/app/services/heatIndex.services.js.map
src/main/resources/public/app/services/humidity.services.js
src/main/resources/public/app/services/humidity.services.js.map
src/main/resources/public/app/services/sensortype.services.js
src/main/resources/public/app/services/sensortype.services.js.map
src/main/resources/public/app/services/station.services.js
src/main/resources/public/app/services/station.services.js.map
src/main/resources/public/app/services/temperature.services.js
src/main/resources/public/app/services/temperature.services.js.map
src/main/resources/public/app/utilities.js
src/main/resources/public/app/utilities.js.map
