<div>
  <a class="active" href="#home"><h2>{{_configuration.applicationName}}</h2></a>
  <h3>St Ronans sensor status at {{now}}</h3>
  <input (click)="refresh()" type="button" aria-label="Refresh button" value="Refresh display"/>
  <input (click)="onGridReady()" type="button" aria-label="Refresh grid" value="Refresh grid"/>
</div>

<div>
  <p></p>

  <h3>{{getSensorName('0')}} sensors</h3>
  <p></p>

  <ag-grid-angular
    #agGrid0
    onGridReady={this.onGridReady}
    class='ag-theme-blue temp'
    [gridOptions]="gridOptions"
    [enableSorting]="true"
    [enableColResize]="true"
    [enableFilter]="true"
    [rowData]="rowData0"
    [columnDefs]="columnDefs0"
    rowSelection='single'
  ></ag-grid-angular>

  <h3>{{getSensorName('1')}} sensors</h3>
  <p></p>
  <ag-grid-angular
    #agGrid1
    onGridReady={this.onGridReady}
    class='ag-theme-blue plant'
    [gridOptions]="gridOptions"
    [enableSorting]="true"
    [enableColResize]="true"
    [enableFilter]="true"
    [rowData]="rowData1"
    [columnDefs]="columnDefs1"
    rowSelection='single'
  ></ag-grid-angular>

</div>
