<h2>{{_configuration.applicationName}} at St Ronans</h2>
<div>
  <label>
    Station
    <select id="stationSelect" (ngModelChange)="onSelectStation($event)"
            value={{config.stationId}}>
      <option *ngFor="let station of stationData" value={{station.id}}>
        {{station.name}}
      </option>
    </select>
  </label>

  <label>
    Display values for last
    <select id="displaySelect" (ngModelChange)="onSelectDisplay($event)"
            value={{config.displayId}}>
      <option *ngFor="let option of options" value="{{option.id}}">
        {{option.name}}
      </option>
    </select>
  </label>

  <span>Show</span>
  <label>
    <input (click)="onSelectTemp()" type="checkbox" aria-label="Checkbox 1"
           value="{{config.showTemp}}"/>
    Temperature
  </label>

  <label>
    <input (click)="onSelectHumidity()" type="checkbox" aria-label="Checkbox 2"
           value="{{config.showHumidity}}"/>
    Humidity
  </label>

  <label>
    <input (click)="onSelectHeatIndex()" type="checkbox" aria-label="Checkbox 3"
           value="{{config.showHeatIndex}}"/>
    Heat Index
  </label>

  <input (click)="refresh()" type="button" aria-label="Refresh button" value="Refresh display"/>

<!--  <display-chart>Loading...</display-chart> -->
</div>
